/dev/ttyHSL0              0660   radio      system
/dev/genlock              0666   root       root
/dev/kgsl-3d0             0666   root       root
/dev/kgsl-2d0             0666   root       root
/dev/kgsl-2d1             0666   root       root
/dev/ttyHS0               0600   bluetooth  bluetooth
/dev/msm_rotator          0660   system     graphics
/dev/hw_random            0660   system     system
/dev/pmem_audio           0660   system     audio
/dev/pmem_smipool*        0660   system     camera
/dev/oncrpc/*             0660   root       qcom_oncrpc
/dev/i2c-0                0664   root       system
/dev/i2c-1                0664   root       system
/dev/i2c-2                0664   root       system
/dev/i2c-4                0664   root       system
/dev/msm_mvs              0660   system     audio
/dev/msm_audio_dev_ctl    0660   system     audio
/dev/msm_pcm_lp_dec       0660   system     audio
/dev/smd4                 0660   system     system
/dev/smd3                 0660   bluetooth  bluetooth
/dev/smd2                 0660   bluetooth  bluetooth
/dev/smd7                 0660   bluetooth  bluetooth
/dev/smdcntl*             0640   radio      radio
/dev/rmnet_mux_ctrl       0640   radio      radio
/dev/gemini0              0660   system     camera
/dev/video*               0660   system     camera 
/dev/ion                  0666   system     system
/dev/msm_vidc_reg         0660   system     audio
/dev/msm_vidc_dec         0660   system     audio
/dev/msm_vidc_dec_sec     0660   system     audio
/dev/msm_vidc_enc         0660   system     audio
/dev/msm_amrnb            0660   system     audio
/dev/msm_amrwb            0660   system     audio
/dev/msm_aac              0660   system     audio
/dev/msm_multi_aac        0660   system     audio
/dev/msm_aac_in           0660   system     audio
/dev/msm_qcelp            0660   system     audio
/dev/msm_evrc             0660   system     audio
/dev/msm_fm               0660   system     audio
/dev/msm_acdb             0660   system     audio
/dev/msm_rtac             0660   system     audio
/dev/msm_wma              0660   system     audio
/dev/msm_wmapro           0660   system     audio
/dev/msm_qcelp_in         0660   system     audio
/dev/msm_evrc_in          0660   system     audio
/dev/msm_preproc_ctl      0660   system     audio
/dev/msm_a2dp_in          0640   system     audio
/dev/msm_amrnb_in         0640   system     audio
/dev/mpu                  0660   system     system
/dev/mpuirq               0660   system     system
